<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <a href="/customers">All customers</a>

    <div>
        <span th:text="|Id: ${customer.id}|">Id</span>
        <br>
        <span th:text="|Name: ${customer.name}|">Name</span>
        <br>
        <span th:text="|Surname: ${customer.surname}|">Surname</span>
        <br>
        <span th:text="|Birth date: ${customer.birthDate}|">Birth date</span>
        <br>
        <span th:text="'Discount card: ' + (${customer.discountCardNumber} ?: 'NO')"> Discount card number</span>
    </div>

    <form th:action="@{/customers/{id}/edit(id=${customer.id})}">
        <button type="submit">Edit</button>
    </form>
</body>
</html>