<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
    <a href="/customers">Back</a>

    <form th:action="@{/customers/{id}/update(id=${customer.id})}" method="post" th:object="${customer}">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" th:value="*{name}">
        <br>
        <label for="surname">Surname: </label>
        <input id="surname" type="text" name="surname" th:value="*{surname}">
        <br>
        <label for="birthDate">Birth date: </label>
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
        <br>
        <button type="submit">Update</button>
    </form>

    <form th:action="@{/customers/{id}/delete(id=${customer.id})}" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>